includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Class PhpErrorInsightBundle\\Handler\\ErrorHandler extends @final class Symfony\\Component\\ErrorHandler\\ErrorHandler#'